<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class="team404.restaurant.domain.Account"/>
        <mapping class="team404.restaurant.domain.Restaurant"/>
        <mapping class="team404.restaurant.domain.Client"/>
        <mapping class="team404.restaurant.domain.Employee"/>
        <mapping class="team404.restaurant.domain.Menu"/>
        <mapping class="team404.restaurant.domain.Restaurateur"/>
    </session-factory>

</hibernate-configuration>
