<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class="team404.restaurant.account.model.Account"/>
        <mapping class="team404.restaurant.restaurant.model.Restaurant"/>
        <mapping class="team404.restaurant.client.model.Client"/>
        <mapping class="team404.restaurant.employee.model.Employee"/>
        <mapping class="team404.restaurant.menu.model.Menu"/>
        <mapping class="team404.restaurant.restaurateur.model.Restaurateur"/>
        <mapping class="team404.restaurant.dish.model.Dish"/>
        <mapping class="team404.restaurant.table.model.Table"/>
        <mapping class="team404.restaurant.order.model.Order"/>
        <mapping class="team404.restaurant.position.model.Position"/>
    </session-factory>

</hibernate-configuration>
